html,
body {
  font-family: 'Roboto', serif;
  color: #18252a; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #18252a; }

h1 {
  color: #18252a;
  font-size: 85px;
  font-weight: 700;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  font-family: 'Cinzel', serif; }

h2 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }

p {
  line-height: 1.6; }

textarea,
input[type='text'],
input[type='email'] {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none; }

textarea:focus,
input[type='text']:focus,
input[type='email']:focus {
  -moz-box-shadow: 0 0 5px #51cbee;
  -webkit-box-shadow: 0 0 5px #51cbee;
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee; }

.modal-body {
  background: #557c83;
  color: #fff; }

.bg-expert {
  background-image: -webkit-gradient(linear, left top, right top, from(#f64040), color-stop(#f8f842), to(#36f136));
  background-image: -webkit-linear-gradient(left, #f64040, #f8f842, #36f136);
  background-image: -o-linear-gradient(left, #f64040, #f8f842, #36f136);
  background-image: linear-gradient(to right, #f64040, #f8f842, #36f136); }

.bg-junior {
  background-image: -webkit-gradient(linear, left top, right top, from(#f64040), to(#f8f842));
  background-image: -webkit-linear-gradient(left, #f64040, #f8f842);
  background-image: -o-linear-gradient(left, #f64040, #f8f842);
  background-image: linear-gradient(to right, #f64040, #f8f842); }

.bg-intermediate {
  background-image: -webkit-gradient(linear, left top, right top, from(#f64040), color-stop(#f8f842), to(#85f885));
  background-image: -webkit-linear-gradient(left, #f64040, #f8f842, #85f885);
  background-image: -o-linear-gradient(left, #f64040, #f8f842, #85f885);
  background-image: linear-gradient(to right, #f64040, #f8f842, #85f885); }

.modal-content {
  border-radius: 1px;
  border: none; }

.hero-unit {
  background: #557c83;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 50px 0; }
  .hero-unit .hero-unit-subheading {
    text-transform: uppercase;
    color: #fff;
    font-size: 42px;
    letter-spacing: 2.4px;
    font-weight: 600;
    margin-bottom: 50px; }
  .hero-unit .intro-text {
    font-size: 20px;
    text-align: justify;
    width: 70%;
    letter-spacing: 0.025em;
    line-height: 1.8em;
    margin-bottom: 40px; }
  .hero-unit #hero-unit-section {
    opacity: 0; }

@media only screen and (max-width: 576px) {
  .hero-unit {
    text-align: center;
    background-size: cover;
    background-position: center; }
    .hero-unit .hero-unit-heading {
      font-size: 40px; }
    .hero-unit .hero-unit-subheading {
      font-size: 14px; }
    .hero-unit .intro-text {
      width: 100%; } }

.btn {
  text-transform: capitalize;
  border-radius: 25px;
  border: none;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
  background: #18252a;
  padding: 8px 25px; }
  .btn:before, .btn:after {
    content: '';
    position: absolute;
    top: 0;
    height: 2px;
    width: 0;
    left: 20%;
    background: #fff;
    -webkit-transition: 400ms ease all;
    -o-transition: 400ms ease all;
    transition: 400ms ease all; }
  .btn:after {
    right: inherit;
    top: inherit;
    bottom: 0; }
  .btn:hover:before, .btn:hover:after {
    width: 50%;
    -webkit-transition: 800ms ease all;
    -o-transition: 800ms ease all;
    transition: 800ms ease all; }

.btn-primary:hover {
  background: #18252a; }

.content-section {
  padding: 50px 0; }
  .content-section.content-section-centered {
    text-align: center; }
  .content-section .section-header-row {
    margin-bottom: 5%; }
  .content-section.dark-content {
    background: #557c83;
    color: #ffffff; }
    .content-section.dark-content .about-me-header {
      text-align: center;
      color: #ffffff; }
    .content-section.dark-content .about-me-content {
      line-height: 2em;
      text-align: justify; }
      .content-section.dark-content .about-me-content .view-skills {
        border: 1px solid #ffffff;
        border-radius: 25px;
        margin-right: 5px;
        padding: 10px 25px;
        color: #ffffff;
        text-decoration: none;
        position: relative;
        -webkit-transition: 800ms ease all;
        -o-transition: 800ms ease all;
        transition: 800ms ease all; }
        .content-section.dark-content .about-me-content .view-skills:before, .content-section.dark-content .about-me-content .view-skills:after {
          content: '';
          position: absolute;
          top: 0;
          height: 2px;
          width: 0;
          left: 20%;
          background: #fff;
          -webkit-transition: 400ms ease all;
          -o-transition: 400ms ease all;
          transition: 400ms ease all; }
        .content-section.dark-content .about-me-content .view-skills:after {
          right: inherit;
          top: inherit;
          bottom: 0; }
        .content-section.dark-content .about-me-content .view-skills:hover:before, .content-section.dark-content .about-me-content .view-skills:hover:after {
          width: 50%;
          -webkit-transition: 800ms ease all;
          -o-transition: 800ms ease all;
          transition: 800ms ease all; }

.projects-row-column {
  margin-bottom: 20px; }

.card {
  border: none;
  background-color: #557c83;
  margin-bottom: 30px; }

.card-title {
  color: #fff;
  font-weight: 300;
  margin-bottom: 30%;
  text-transform: uppercase; }

.card-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .card-links .card-link {
    background: none;
    border: 1px solid #fff; }

.portfolio-subheading {
  font-size: 15px;
  text-transform: uppercase;
  color: #3aafa9;
  letter-spacing: 0.5px; }

@media (min-width: 576px) and (max-width: 1199.98px) {
  .col-sm-4.projects-row-column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }

@media (max-width: 1199.98px) {
  .card-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
    .card-links .card-link {
      margin-bottom: 4%;
      margin-left: 0; } }

.contact-form .contact-form-input {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  padding: 18px 22px;
  font-size: 18px; }
  .contact-form .contact-form-input::-webkit-input-placeholder {
    color: #9e9e9e; }
  .contact-form .contact-form-input:-ms-input-placeholder {
    color: #9e9e9e; }
  .contact-form .contact-form-input::-ms-input-placeholder {
    color: #9e9e9e; }
  .contact-form .contact-form-input::placeholder {
    color: #9e9e9e; }

.contact-form textarea.contact-form-input {
  min-height: 150px; }

.contact-form .contact-form-checkbox-input {
  display: none; }
  .contact-form .contact-form-checkbox-input:checked + .contact-form-checkbox-label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.contact-form .contact-form-checkbox-label {
  position: relative;
  color: #adabab;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  padding-left: 30px;
  margin-bottom: 20px;
  margin-top: 5px; }
  .contact-form .contact-form-checkbox-label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    border: 1px solid; }
  .contact-form .contact-form-checkbox-label:after {
    position: absolute;
    left: 0;
    top: -0.5px;
    font-family: 'Font Awesome 5 Free';
    content: '\f00c';
    color: #007bff;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s; }

.contact-form .submit-btn {
  text-transform: capitalize;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background: #557c83;
  padding: 8px 25px;
  color: #fff; }

.footer {
  background: #eef1f2;
  color: rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px 0; }

.skills .skill {
  margin-top: 20px; }
  .skills .skill:last-child {
    margin-bottom: 40px; }
  .skills .skill .skillset-heading {
    color: #fff;
    letter-spacing: 1.6px;
    font-size: 16px;
    font-weight: 700; }
