@mixin button-design {
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    height: 2px;
    width: 0;
    left: 20%;
    background: #fff;
    transition: 400ms ease all;
  }

  &:after {
    right: inherit;
    top: inherit;
    bottom: 0;
  }

  &:hover:before,
  &:hover:after {
    width: 50%;
    transition: 800ms ease all;
  }
}

@import 'core';
@import 'helpers';
@import 'hero-units';
@import 'buttons';
@import 'content-sections';
@import 'portfolio-section';
@import 'about-me';
@import 'contact-form';
@import 'footer';
@import 'skillsets';
